@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Rounded";
  src: url("./assets/fonts/MaterialSymbolsRounded.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Thai";
  src: url("./assets/fonts/NotoSansThai.ttf");
}

body {
  font-family: "Noto Sans Thai";
  @apply bg-zinc-50 text-zinc-900;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}

.msr {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.msr.large {
  font-size: 36px;
}

.msr.small {
  font-size: 18px;
}

.msr.fill {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}